// _about.scss
.about-me {
	.profile {
		background-color: $warm-gray;
		color: $light-gray;
		text-align: center;
		padding: $spacing $spacing $padding;
		font-size: $med_font_size;
		.profile-pic {
			height: 94px;
			width: 94px;
			border-radius: 100px;
			margin: auto;
			margin-bottom: $margin;
			overflow: hidden;
			text-align: center;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.profile-name {
			color: $white_opaque;
			padding: $padding $padding 0;
		}
		.profile-tagline {
			padding: 0 $padding $padding;
		}
		.profile-socmedia {
			.socmedia-link {
				height: 40px;
				width: 40px;
				border-radius: 40px;
				display: inline-block;
				margin: $margin/2;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		hr {
			border-top: $light-gray 1px solid;
			margin-top: $margin;
			margin-bottom: $margin;
			margin-left: -$spacing;
			margin-right: -$spacing;
		}
	}
}
