.landing {
	background-image: url('../images/landing_bg.jpg');// no-repeat center center fixed; 
	background-repeat: no-repeat;

	@include background-size(cover);
	background-color: rgb(18, 37, 83);
	padding-top: 1.5 * $header_height;
	padding-bottom: $header_height;

	.card {
		background: $black_translucent;
		border: $white_border;
		color: $light_text_color;
		padding: $padding;
		.card-name {

		}
		.card-btn {
			&:first-of-type {
				padding-right: $padding;
			}
			&:nth-of-type(2) {
				padding-left: $padding;
			}
			.btn {
				background: $black_translucent;
				border: $white_border;
				border-radius: 0;
				width: 100%;
			}
		}
		
	}
}