#skills {

  ul {
    padding-left: 20px;
    padding-right: 20px;
  }
  ul.row {
    text-align: center;
    li {
      text-align: center;
      position: relative;
      margin: 5px auto;
      div {
        margin: auto;
      }
    }
  }
    .s1 {
      @include circle-colors($s1_primary, $circle_border);
    }

    .s2 {
      @include circle-colors($s2_primary, $circle_border);
    }

    .s3 {
      @include circle-colors($s3_primary, $circle_border);
    }

    .s4 {
      @include circle-colors($s4_primary, $circle_border);
    }

    .s5 {
      @include circle-colors($s5_primary, $circle_border);
    }

  ul.skill-legend {
    list-style: none;
    display: block;
    li {
      position: relative;
      display: inline-block;
        width: 19%;
      .bar {
        width: 100%;
        border-width: 5px;
        border-style: solid;
      }
    }
  }
}
