// _variables.scss

$header_height: 90px;

$light_text_color: rgb(255, 255, 255);
$dark_text_color: rgb(0, 0, 0);

$black_translucent: rgba(0, 0, 0, 0.5);
$black_opaque: rgb(0, 0, 0);
$white_translucent: rgba(255, 255, 255, 0.7);
$white_opaque: rgb(255, 255, 255);
$warm-gray: rgb(36, 37, 38);
$warm-gray_translucent: rgba(36, 37, 38, 0.5);
$light-gray: rgb(139, 140, 142);

$padding: 10px;
$spacing: 20px;
$margin: 10px;

$med_font_size: 12px;

$white_border: 1.5px #FFFFFF solid;