// _variables.scss

$header_height: 70px;

$light_text_color: rgb(255, 255, 255);
$dark_text_color: rgb(0, 0, 0);

$black_translucent: rgba(0, 0, 0, 0.5);

$padding: 10px;

$white_border: 2px #FFFFFF solid;