$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,300italic);

// endbower

@import "globals/variables";
@import "globals/lib";
@import "components/circle";
@import "components/carousel";

// TESTING ONLY
.temp {
  border: 2px red solid;
}
// END TESTING ONLY

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Vollkorn', serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  margin-bottom: -$header_height;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

ul {
  list-style-type: none;
  text-decoration: none;
  li {
    min-height: 10px;
  }
}

.section {
  padding-top: $spacing;
  padding-bottom: $spacing;
  .section-title {
    @extend .h3;
    padding-bottom: $padding;
  }
  &.odd {
    background-color: rgb(239, 240, 241);
    .section-title {
      text-align: center;
    }
  }
}

.btn {
  background: $white_translucent;
  border: $black_border;
  border-radius: 0;
  width: 100%;
  font-size: 11px;
  font-weight: 300;
  &:hover {
    opacity: 0.98;
    // color: $black_translucent;
    letter-spacing: 0.5px;
    // background-color: $warm_gray_translucent;
    // border-color: $white_translucent;
  }
}

.btn:active, button:active, .btn.active, button.active {
  background: $black_translucent;
  border: $black_border;
  color: $white_opaque;
}

button {
  @extend .btn;
}

.view-more {
  position: absolute;
  right: $spacing;
  bottom: 0;
  padding-bottom: $padding/2;
  color: $black_opaque;
  .glyphicon {
    font-size:$med_font_size;
  }
}

.container, .row, .container-fluid {
  position: relative;
}

.med_font {
  font-size: $med_font_size;
}

.ul-unstyle {
  padding: 0;
  list-style: none;
  width: 100%;
  min-height: 0 !important;
  li {
    width: 100%;
  }
}

.label {
  color: $label_color;
  text-transform: uppercase;
}

@import 'components/header';
@import 'components/footer';
@import 'components/contact_form';
@import 'sections/landing';
@import 'sections/about';
@import 'sections/skills';
@import 'sections/projects';
