// _footer.scss
.footer {
	margin-bottom: 0px;
	font-size: $med_font_size;
	.navbar {
		@include bg-gradient-tb(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.8));
		text-align: center;
		ul.footer-content {
			margin: 15px 0 -15px;
			padding: 0;
			list-style: none;
			display: block;
			li {
				position: relative;
				display: inline-block;
				padding: 0 5px;
				border-right: 1px solid $med-gray2;
			}
			li:last-of-type {
				border-right: none;
			}
		}
		.cpy {
			float: left;
		}
		.contact {
			float: right;
			color: $white_opaque;
		}

		@media (max-width: $screen-xxs-max) {
			min-height: 0px;
			padding: 5px 0;
			ul.footer-content {
				display: none;
			}
			.cpy {
				font-size: 10px;
			}
		}

	}
}
