// _header.scss
.header {
	margin-bottom: 0px;
	.navbar {
		@include bg-gradient-tb(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.8));
		.navbar-toggle {
			width: auto;
			& > span.icon-bar {
				background-color: $white_opaque;
			}
		}
		.navbar-header {
			a { color: $white_opaque; }
			.navbar-brand {
				text-transform: uppercase;
				font-size: 10px;
				font-family: 'Lato';
				letter-spacing: 1px;
			}
		}
		.navbar-nav {
			float: right;

			li {
				a {
					color: $white_opaque;
					font-size: 10px;
					&:hover, &:focus {
						background-color: transparent;
						a::after {
							content: ' ';
							margin-left: -5px;
							margin-right: -5px;
							height: 3px;
							display: block;
							border-bottom: 2px $white_translucent solid;
						}
					}
				}
				&.active {
					a::after {
						content: ' ';
						margin-left: -5px;
						margin-right: -5px;
						height: 3px;
						display: block;
						border-bottom: 1px $white_opaque solid;
					}
				}
			}
		}
		ul.dropdown-menu {
			background-color: $black_translucent;
			li {

			}
		}

		.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
			background: $black_opaque;
			border-color: transparent;
		}

		@media (max-width: $screen-sm-min) {
			.navbar-collapse {
				.navbar-nav {
					float: none;
					text-align: center;
				}
			}
		}
	}
}
