Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} web.stanford.edu [NC]
RewriteCond %{HTTP_HOST} ~kfryauff
RewriteCond %{HTTP_HOST} !index.html
RewriteRule ^(.*)$ http://web.stanford.edu/~kfryauff/index.html [R=301,L]
