<div id='home' class='landing section row'>
<div class='container'>
  <!-- Crit Info -->
  <div class='card col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0'>
    <!-- Top row of Card -->
    <div class='card-top row'>
      <div class='card-name col-md-7 col-xs-6'>
        K. Fryauff
      </div>
      <div class='card-info col-md-5 col-md-offset-7 col-xs-6 col-xs-offset-6'>
        <span class='col-xs-12'>krista.fryauff@gmail.com</span>
        <span class='col-xs-12'>Bay Area, CA, USA</span>
      </div>
    </div>

    <!-- Tagline -->
    <div class='card-tagline col-xs-12'>
      <hr>
      Developer  |  Designer
    </div>

    <!-- Call to Action Btns -->
    <div class='card-action-btns row'>
      <div class='card-btn col-xs-6'>
        <div class='btn' du-smooth-scroll='projects' du-scrollspy>
          View Projects
        </div>
      </div>
      <div class='card-btn col-xs-6'>
        <div class='btn'
        data-ng-click='contactMe()'>Contact Me</div>
        <a href='mailto:krista.fryauff@gmail.com' id='mailto' class='hidden'>Mailto</a>
      </div>
    </div>
  </div>
</div>
</div>
