<!-- Landing Section -->
<div id='home' class='landing section row'>
  <div class='container'>
    <!-- Crit Info -->
    <div class='card col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1'>
      <!-- Top row of Card -->
      <div class='card-top row'>
        <div class='card-name col-xs-7'>
          K. Fryauff
        </div>
        <div class='card-info col-xs-5 col-xs-offset-7'>
          <span class='col-xs-12'>krista.fryauff@gmail.com</span>
          <span class='col-xs-12'>Bay Area, CA, USA</span>
        </div>
      </div>

      <!-- Tagline -->
      <div class='card-tagline col-xs-12'>
        <hr>
        Developer  |  Designer
      </div>

      <!-- Call to Action Btns -->
      <div class='card-action-btns row'>
        <div class='card-btn col-xs-6'>
          <div class='btn' du-smooth-scroll='projects' du-scrollspy>
            View Projects
          </div>
        </div>
        <div class='card-btn col-xs-6'>
          <div class='btn'
          data-ng-click='contactMe()'>Contact Me</div>
          <a href='mailto:krista.fryauff@gmail.com' id='mailto' class='hidden'>Mailto</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ErrorMessage Modal -->
<script type="text/ng-template" id="modalErrorMessage.html">
  <div class="modal-header container-fluid">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="modal-title">Oops!</h3>
    </div>
  </div>
  <div class="modal-body container-fluid">
    <div class="col-sm-10 col-sm-offset-1">{{errormessage}}</div>
  </div>
  <div class="modal-footer container-fluid">
    <div class='col-sm-4 col-sm-offset-8'>
      <button class="btn" data-ng-click="ok()">OK</button>
    </div>
  </div>
</script>
<!-- End ErrorMessage Modal -->

<!-- resumeModal Modal -->
<script type="text/ng-template" id="resumeModal.html">
  <div class="modal-header container-fluid">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="modal-title">Download Resume</h3>
    </div>
  </div>
  <div class="modal-body container-fluid">
    <div class="col-sm-10 col-sm-offset-1">{{fileType}}</div>
    <div class="col-sm-10 col-sm-offset-1">
      <uib-progressbar class="progress-striped active" value="55" type="{{type}}">
        {{type}} <i data-ng-show="showWarning">!!! Watch out !!!</i>
      </uib-progressbar>
    </div>
    <div class="col-sm-10 col-sm-offset-1">This does not really work right now... Sorry for decieving you.</div>
  </div>
      <div class="modal-footer container-fluid">
      <div class='col-sm-4 col-sm-offset-8'>
      <button class="btn" data-ng-click="cancel()">Cancel</button>
    </div>
  </div>
</script>
<!-- End resumeModal Modal -->


<!-- Feature Projects Section -->
<div id='featured' class='feature-projects section row' data-ng-controller='ProjCtrl as projctrl'>
  <div class='container'>
    <ul class='row'>
      <li class='col-sm-4 col-xs-12' data-ng-repeat='proj in projctrl.featProjects'
      data-ng-click='main.activeProject = proj; main.carousel.index = proj.id-1'
      du-smooth-scroll='projects' du-scrollspy>
        <div class='project-image-container'>
          <img src='{{proj.images[0]}}' alt='project image'></img>
          <div class='project-tag'>
            <div class='project-title'>{{proj.title}}</div>
            <div class='project-description'>{{proj.role}}</div>
          </div>
        </div>
      </li>
    </ul>
    <a class="view-more"
    data-ng-click='main.activeProject=undefined'
    du-smooth-scroll='projects' du-scrollspy>
      View All Projects <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a>
  </div>
</div>

<!-- About Me Section -->
<div id='about' class='about-me section odd row'>
  <div class='container'>
    <div class='section-title'>About Me</div>
    <div class='profile col-sm-4'>
      <div class='profile-pic'><img src='{{profile.image}}'></div>
      <div class='profile-name'>{{profile.name}}</div>
      <div class='profile-tagline'>
        <span>{{profile.tag}}</span>
        <br />
        <span>Bay Area, CA, USA</span>
      </div>
      <div class='profile-socmedia'>
        <a href='{{socmedia.link}}' target='{{socmedia.target}}' data-ng-click='{{socmedia.click}}' data-ng-repeat='socmedia in profile.socialMedia'>
          <div class='socmedia-link'>
            <img src='{{socmedia.image}}' alt='' />
          </div>
        </a>
      </div>
      <hr>
      <div class='profile-lastupdate'>Profile last updated {{updatedDate}}</div>
    </div>
    <div class='content col-sm-8'>
      <p>
        My name is Krista Fryauff. I have spent my undergraduate years at Stanford University combining Computer Science with a concentration in Human Computer Interaction and a minor in Comparative Studies in Race and Ethnicity. I am both passionate and curious about the many ways in which technology and society interact and am excited to explore new arenas and expand my knowledge of technology and development.
      </p>
      <br>
      <p>
        <h4>My Experience</h4>
        I've worn many hats in various adventures often combining interdisciplinary areas of study to push the boundaries between technology and people. Most recently, I worked as a Mobile Web Developer at a mobile solutions startup, transforming desktop sites of clients like Peet's, Epson, and Bigotires, into adapted and optimized mobile experiences. I have also redesigned websites in the Military/government sphere, providing updates to their interface design and user experience. I've developed a data visualization for a Stanford affiliated geospatial history lab where I was involved in the project from ideation to production with singular control over the code.  Additionally, I spent my time in the Navy ROTC developing leadership skills for better, more efficient and communicative work styles. I've learned to pick things up quickly, keep an open mind, and indulge a healthy dosage of good-natured curiosity.
      </p>
      <br>
      <p>
        <h4>Where my interests have led me...</h4>
        I'm constantly looking to push my understanding to new levels and take on new challenges.  I'm very interested in UI/UX development as well as application/software engineering.  Additionally, as my specialty in HCI &amp; my minor in CSRE suggest, I've got a passion for the intersection of technology, invention/innovation and community/society.
      </p>
    </div>
  </div>
</div>

<!-- Skills & Resume Section -->
<div class='skills-resume section row' data-ng-controller='SkillsCtrl as skillsctrl'>
  <div class='container'>
    <!-- Skills Section -->
    <div id='skills' class='skills col-sm-9'>
      <div class='section-title'>My Skills</div>
      <ul class='skill-legend'>
        <li class='s5'><div class='bar'></div></li>
        <li class='s4'><div class='bar'></div></li>
        <li class='s3'><div class='bar'></div></li>
        <li class='s2'><div class='bar'></div></li>
        <li class='s1'><div class='bar'></div></li>
      </ul>

      <ul class='row'>
        <li class='col-sm-3' data-ng-repeat='skill in skillsctrl.skills | orderBy:"-percentage"'
        data-ng-click='main.searchValue = skill.skillID' ng-click='searchProjects({{skill.skillID}})'
        du-smooth-scroll='projects' du-scrollspy>
          <div class='c100 p{{skill.percentage}} small {{skillsctrl.getColor(skill.percentage)}}'
          uib-popover="{{skill.description}}"
          popover-append-to-body='true'
          popover-title="{{skill.skill}} : {{skill.label}}"
          popover-trigger="mouseenter">
            <span>
              {{skill.label}}
            </span>
            <div class='slice'>
              <div class='bar'></div>
              <div class='fill'></div>
            </div>
          </div>
        </li>
      </ul>
      <ul class='skill-legend'>
        <li class='s5'><div class='bar'></div></li>
        <li class='s4'><div class='bar'></div></li>
        <li class='s3'><div class='bar'></div></li>
        <li class='s2'><div class='bar'></div></li>
        <li class='s1'><div class='bar'></div></li>
      </ul>

      <!-- <p>
      <h4>Experience in ...</h4>
      <ul>
      <li><b>Web Development:</b> HTML | CSS/SASS | Bootstrap | Javascript | JQuery | Ruby on Rails | AngularJS | D3.js | node.js | PHP | CMS</li>
      <li><b>Software Development:</b>Java | C | C++ | TruBasic</li>
      <li><b>UI Development:</b> UI/UX Design | Photoshop | Illustrator | Invision | Moodboard/Storyboard/Mockup</li>
      <li><b>Version Control:</b> Git | GitHub | Bitbucket</li>
      <li><b>Development Environments:</b> Heroku | Vagrant | AMPPS</li>
      <li><b>OS:</b> OSX | Windows | Linux</li>
      <li>Minor Experience in: Python | Express | Sketch</li>
      </ul>
      </p> -->

    </div>

    <!-- Resume Section -->
    <div id='resume' class='resume col-sm-3'>
      <div class='section-title'>My Resume</div>
      <div class='download-instruct'>
        <h4 id='resume-select-file-type' class='med_font col-sm-12'>
          Select a File Format:
        </h4>
        <ul class='ul-unstyle btn-group'>
          <li>
            <div class='btn'
            data-ng-model="fileType"
            uib-btn-radio="'.pdf'"
            uncheckable>
              .pdf
            </div>
          </li>
          <li>
            <div class='btn'
            data-ng-model="fileType"
            uib-btn-radio="'.doc'"
            uncheckable>
              .doc
            </div>
          </li>
          <li>
            <div class='btn'
            data-ng-model="fileType"
            uib-btn-radio="'.txt'"
            uib-uncheckable="uncheckable">
              .txt
            </div>
          </li>
        </ul>
        <span id='no-file-type' data-ng-if='' class='bg-warning'>{{noFileTypeMessage}}</span>
        <div class='download btn'
        data-ng-click="downloadResume(fileType)">
          View Resume <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
        <a id='downloadResumeLink' href='{{skillsctrl.resumeLoc + fileType}}' target='_blank' class='hidden'>Download Resume {{skillsctrl.resumeLoc}}</a>
      </div>
    </div>
  </div>
</div>

<!-- Projects Section -->
<div id='projects' class='projects section odd row' data-ng-controller='ProjCtrl as projctrl'>
  <div class='container'>
    <div class='section-title'>
      Projects
      <form class='search-projects row'>
        <input id='search-projects' class='col-sm-5 col-sm-offset-3 col-xs-10 search-input' data-ng-model='main.searchValue' placeholder='Search Projects'></input>
        <button id='search-btn' class='col-sm-1 col-xs-2' data-ng-click='main.activeProject=undefined'>Search</button>
      </form>
    </div> <!-- End of section-title -->

    <ul id='project-carousel' class='row transformable'
    data-ng-class='{"inactive":main.activeProject}'>
      <li class='col-sm-4'
      data-ng-repeat='proj in filteredProjects = (projctrl.projects | filter:main.searchValue:projSearchComparator)'
      data-ng-click='main.activeProject = proj;
        main.carousel.index = proj.id-1;
        projctrl.selectedImage = proj.images[0];'
      du-smooth-scroll='project-carousel' du-scrollspy>
        <div class='project-image-container'>
          <img src='{{proj.images[0]}}'></img>
          <div class='project-tag'>
            <div class='project-title'>{{proj.title}}</div>
            <div class='project-description'>{{proj.role}}</div>
          </div>
        </div>
      </li>
    </ul><!-- End All Projects -->
    <!-- If No Projects -->
    <div ng-show="!filteredProjects.length">Sorry, no projects matching your search query are currently available.</div>

    <div class='carousel-container row transformable'
    data-ng-class='{"inactive":!main.activeProject}'>
      <ul rn-carousel
      rn-carousel-controls
      rn-carousel-buffered
      rn-carousel-index='main.carousel.index'>
        <li class='col-sm-4'
        data-ng-repeat='proj in projctrl.projects | filter:main.searchValue:projSearchComparator'
        data-ng-click='main.activeProject = proj;
        main.carousel.index = proj.id-1;
        projctrl.selectedImage = proj.images[0]'
        du-smooth-scroll='project-carousel' du-scrollspy>
          <div class='project-image-container'
          data-ng-class='{"selected-image" : (main.activeProject.id == proj.id)}'>
            <img src='{{proj.images[0]}}'></img>
            <div class='project-tag'>
              <div class='project-title'>{{proj.title}}</div>
              <div class='project-description'>{{proj.role}}</div>
            </div>
          </div>
        </li>
      </ul><!-- End Carousel -->

      <a class="view-more"
      data-ng-click='main.activeProject=undefined; main.searchValue="";'
      du-smooth-scroll='projects' du-scrollspy>
        View All Projects  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </a>
    </div><!-- End Carousel-container -->

    <div id='project' class='project transformable row'
    data-ng-class='{"active":main.activeProject}'>
      <div class='active-project-title'>
        {{main.activeProject.title}}
      </div>
      <div class="active-project-client"
      data-ng-if='main.activeProject.client'>
        <span class='label'>Client:&nbsp;</span>
        {{main.activeProject.client}}
      </div>
      <div class="active-project-role col-xs-12"
      data-ng-if='main.activeProject.role'>
        <span class='label'>Role:&nbsp;</span>
        {{main.activeProject.role}}
      </div>

      <div class='row'>
        <div class='active-project-selected-image col-sm-8 col-sm-offset-2'>
          <div class='window-top'>
            <div class='window-opt-circle'></div>
            <div class='window-opt-circle'></div>
            <div class='window-opt-circle'></div>
          </div>
          <img src='{{projctrl.selectedImage || main.activeProject.images[0]}}'></img>
        </div>

        <div data-ng-model="projctrl.selectedImage" class='active-project-images col-sm-1 col-xs-1'>
          <div class='active-project-image col-sm-12 col-xs-12'
          data-ng-repeat='image in main.activeProject.images'
          data-ng-click='projctrl.selectedImage = image;'
          data-ng-class='{"selected":main.active-project-selected-image-src == image}'
          value='{{image}}'>
            <img src='{{image}}'></img>
          </div>
        </div>
      </div>

      <div class='active-project-description col-sm-10 col-sm-offset-1 col-xs-12'>
        <ul class="ul-unstyle"
        data-ng-if='main.activeProject.d'>
          <li class="active-project-d"
          data-ng-repeat='d in main.activeProject.d'>
            {{d}}
          </li>
        </ul>
        <div class="active-project-skills col-xs-12"
        data-ng-if='main.activeProject.skills'>
          <div data-ng-repeat='skill in main.activeProject.skills | orderBy:-projctrl.skillsObj.getPercentagebyID'
          data-ng-click='main.searchValue = skill.skillID'
          class="skill {{projctrl.skillsObj.getColorbyID(skill)}}"
          uib-popover="{{projctrl.skillsObj.getSkill(skill).skill}}"
          popover-append-to-body='true'
          popover-title="{{skill.skill}} : {{skill.label}}"
          popover-trigger="mouseenter">
            {{skill}}
          </div>
        </div>
        <div class="active-project-text col-xs-12">
          {{main.activeProject.description}}
        </div>
        <div class="active-project-links col-sm-10 col-sm-offset-1 col-xs-12"
        data-ng-if='main.activeProject.links'>
          <div class="active-project-link"
          data-ng-repeat='link in main.activeProject.links'>
            <span class='label'>{{link.label}}:&nbsp;</span>
            <a href='{{link.url}}'>{{link.url}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
