<!-- Landing Section -->
<ng-include src="'views/landing.html'"></ng-include>

<!-- Feature Projects Section -->
<ng-include src="'views/featured.html'"></ng-include>

<!-- About Me Section -->
<ng-include src="'views/about.html'"></ng-include>

<!-- Skills & Resume Section -->
<ng-include src="'views/skills-resume.html'"></ng-include>

<!-- Projects Section -->
<ng-include src="'views/projects.html'"></ng-include>





<!-- ErrorMessage Modal -->
<script type="text/ng-template" id="modalErrorMessage.html">
  <div class="modal-header container-fluid">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="modal-title">Oops!</h3>
    </div>
  </div>
  <div class="modal-body container-fluid">
    <div class="col-sm-10 col-sm-offset-1">{{errormessage}}</div>
  </div>
  <div class="modal-footer container-fluid">
    <div class='col-sm-4 col-sm-offset-8'>
      <button class="btn" data-ng-click="ok()">OK</button>
    </div>
  </div>
</script>
<!-- End ErrorMessage Modal -->

<!-- resumeModal Modal -->
<script type="text/ng-template" id="resumeModal.html">
  <div class="modal-header container-fluid">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="modal-title">Download Resume</h3>
    </div>
  </div>
  <div class="modal-body container-fluid">
    <div class="col-sm-10 col-sm-offset-1">{{fileType}}</div>
    <div class="col-sm-10 col-sm-offset-1">
      <uib-progressbar class="progress-striped active" value="55" type="{{type}}">
        {{type}} <i data-ng-show="showWarning">!!! Watch out !!!</i>
      </uib-progressbar>
    </div>
    <div class="col-sm-10 col-sm-offset-1">This does not really work right now... Sorry for decieving you.</div>
  </div>
      <div class="modal-footer container-fluid">
      <div class='col-sm-4 col-sm-offset-8'>
      <button class="btn" data-ng-click="cancel()">Cancel</button>
    </div>
  </div>
</script>
<!-- End resumeModal Modal -->
